@using GSCommerce.Client.Services
@inject AuthService AuthService
@inject CajaService CajaService
@inject NavigationManager Navigation
@inject IJSRuntime JS

<div class="top-row navbar navbar-dark">
    <div class="d-flex align-items-center ms-4">
        <img src="/imagen/LogoGSC.png" alt="GSCommerce Logo" style="width: 60px;height: 60px;margin-right: 10px;justify-items: center;">
        <a class="navbar-brand" href="/">GSCommerce</a>
    </div>
    <button title="Navigation menu" class="navbar-toggler msd-4 order-md-2 order-1" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>
<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        @*
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>*@
        @if (cargo == "ADMINISTRADOR" || cargo == "CAJERO")
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Consultas">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Consultas
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="maestros">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Maestros
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Movimientos">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Movimientos
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="notass-credito">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Notas de Crédito
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <a class="nav-link" href="#" @onclick="IrAVentas">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Ventas
                </a>
            </div>
            <div class="nav-item px-3">
                <a class="nav-link" href="#" @onclick="IrACajaManual">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Caja Manual
                </a>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="ventas">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Consultar Ventas
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="cajita">
                    <i class="bi bi-cash-coin"></i><span aria-hidden="true"></span> Apertura/Cierre Caja
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="caja/liquidacion">
                    <span class="bi bi-file-text" aria-hidden="true"></span> Liquidación Caja
                </NavLink>
            </div>
        }
        @if (cargo == "CAJERO")
        {
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/reportes">
                <span class="bi bi-bar-chart-fill" aria-hidden="true"></span> Reporte Diario Vendedores
            </NavLink>
        </div>
        }
        @if (cargo == "ADMINISTRADOR")
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/caja/listado">
                    <span class="bi bi-journal-text" aria-hidden="true"></span> Listado Caja
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/descuentos">
                    <span class="bi bi-percent" aria-hidden="true"></span> Descuentos
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/ingresos-egresos">
                    <span class="bi bi-cash-stack" aria-hidden="true"></span> Ingresos/Egresos
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/cajeros">
                    <span class="bi bi-person" aria-hidden="true"></span> Cajeros
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="ordenes-compra">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Ordenes de Compra
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/series-cajero">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Series Cajero
                </NavLink>
            </div>
        }
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private string? cargo;

    protected override async Task OnInitializedAsync()
    {
        cargo = await AuthService.GetUserCargo();
    }
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task IrAVentas()
    {
        var idUsuario = await AuthService.GetUserId();
        var idAlmacen = await AuthService.GetUserAlmacenId();
        if (idUsuario != null && idAlmacen != null)
        {
            var aperturas = await CajaService.VerificarAperturaAsync(idUsuario.Value, idAlmacen.Value);
            if (aperturas != null && aperturas.Any(a => a.Estado == "A"))
            {
                Navigation.NavigateTo("/ventass/crear/b1");
                return;
            }
        }

        await JS.InvokeVoidAsync("alert", "⚠️ Caja no aperturada.");
        Navigation.NavigateTo("/cajita");
    }

    private async Task IrACajaManual()
    {
        var idUsuario = await AuthService.GetUserId();
        var idAlmacen = await AuthService.GetUserAlmacenId();
        if (idUsuario != null && idAlmacen != null)
        {
            var aperturas = await CajaService.VerificarAperturaAsync(idUsuario.Value, idAlmacen.Value);
            if (aperturas != null && aperturas.Any(a => a.Estado == "A"))
            {
                Navigation.NavigateTo("/ventass/crear/b2");
                return;
            }
        }

        await JS.InvokeVoidAsync("alert", "⚠️ Caja no aperturada.");
        Navigation.NavigateTo("/cajita");
    }
}