@page "/reportes"
@using GSCommerce.Client.Services
@inject NavigationManager Navigation
@inject AuthService AuthService

<h3 class="mb-4 fw-bold text-uppercase">Reportes</h3>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
    @*
    <div class="col">
        <div class="card text-center shadow-lg p-3 report-card" @onclick="IrAReporteVentasVendedor">
            <div class="card-body d-flex flex-column align-items-center justify-content-center">
                <i class="bi bi-person-fill" style="font-size: 3rem; color: #6c757d;"></i>
                <h5 class="fw-bold mt-2 text-uppercase" style="white-space: nowrap;">Ventas por Vendedor</h5>
            </div>
        </div>
    </div>*@
        <div class="col">
            <div class="card text-center shadow-lg p-3 report-card" @onclick="IrAReporteVentasDetalladas">
            <div class="card-body d-flex flex-column align-items-center justify-content-center">
                <i class="bi bi-receipt-cutoff" style="font-size: 3rem; color: #6c757d;"></i>
                <h5 class="fw-bold mt-2 text-uppercase" style="white-space: nowrap;">Libro de Ventas</h5>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-center shadow-lg p-3 report-card" @onclick="IrAReportePagosTarjetaOnline">
            <div class="card-body d-flex flex-column align-items-center justify-content-center">
                <i class="bi bi-credit-card" style="font-size: 3rem; color: #6c757d;"></i>
                <h5 class="fw-bold mt-2 text-uppercase text-center" style="white-space: normal;">Pagos Tarjeta / Online</h5>
            </div>
        </div>
    </div>
    @if (cargo != "CONTADOR")
    {
    <div class="col">
        <div class="card text-center shadow-lg p-3 report-card" @onclick="IrAReporteVentasArticulo">
            <div class="card-body d-flex flex-column align-items-center justify-content-center">
                <i class="bi bi-receipt-cutoff" style="font-size: 3rem; color: #6c757d;"></i>
                <h5 class="fw-bold mt-2 text-uppercase" style="white-space: nowrap;">Ventas por Articulo</h5>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-center shadow-lg p-3 report-card" @onclick="IrAReporteRanking">
            <div class="card-body d-flex flex-column align-items-center justify-content-center">
                <i class="bi bi-receipt-cutoff" style="font-size: 3rem; color: #6c757d;"></i>
                <h5 class="fw-bold mt-2 text-uppercase" style="white-space: nowrap;">Reporte Ranking Vendedoras</h5>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-center shadow-lg p-3 report-card" @onclick="IrAReporteTotalTiendas">
            <div class="card-body d-flex flex-column align-items-center justify-content-center">
                <i class="bi bi-receipt-cutoff" style="font-size: 3rem; color: #6c757d;"></i>
                <h5 class="fw-bold mt-2 text-uppercase" style="white-space: nowrap;">Reporte Total Tiendas</h5>
            </div>
        </div>
        </div>
    }
    @*
    @if (cargo == "CAJERO" || cargo == "ADMINISTRADOR")
    {
        <div class="col">
            <div class="card text-center shadow-lg p-3 report-card" @onclick="IrAReporteRankingDiario">
                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                    <i class="bi bi-bar-chart-fill" style="font-size: 3rem; color: #6c757d;"></i>
                    <h5 class="fw-bold mt-2 text-uppercase" style="white-space: nowrap;">Ranking Diario Vendedores</h5>
                </div>
            </div>
        </div>
    }*@
    @if (cargo == "ADMINISTRADOR")
    {
        <div class="col">
            <div class="card text-center shadow-lg p-3 report-card" @onclick="IrAReporteTOPten">
                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                    <i class="bi bi-receipt-cutoff" style="font-size: 3rem; color: #6c757d;"></i>
                    <h5 class="fw-bold mt-2 text-uppercase" style="white-space: nowrap;">TOP 10 ARTICULOS VENDIDOS</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center shadow-lg p-3 report-card" @onclick="IrAReporteTOPtenMenosVendidos">
                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                    <i class="bi bi-receipt-cutoff" style="font-size: 3rem; color: #6c757d;"></i>
                    <h5 class="fw-bold mt-2 text-uppercase text-center" style="white-space: normal;">TOP 10 ARTICULOS MENOS VENDIDOS</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center shadow-lg p-3 report-card" @onclick="IrAReporteUtilidadTiendas">
                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                    <i class="bi bi-receipt-cutoff" style="font-size: 3rem; color: #6c757d;"></i>
                    <h5 class="fw-bold mt-2 text-uppercase" style="white-space: nowrap;">Reporte Utilidad Tiendas</h5>
                </div>
            </div>
        </div>
        }
    @if (cargo == "CONTADOR" || cargo == "ADMINISTRADOR")
    {
    <div class="col">
            <div class="card text-center shadow-lg p-3 report-card" @onclick="IrALibroVentasContable">
                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                    <i class="bi bi-receipt-cutoff" style="font-size: 3rem; color: #6c757d;"></i>
                    <h5 class="fw-bold mt-2 text-uppercase" style="white-space: nowrap;">Libro Ventas Contable</h5>
                </div>
            </div>
        </div>
    }
</div>


@code {
    private string? cargo;

    protected override async Task OnInitializedAsync()
    {
        cargo = await AuthService.GetUserCargo();
    }

    private void IrAReporteVentasVendedor()
    {
        Navigation.NavigateTo("/reportes/ventas-vendedor");
    }

    private void IrAReporteVentasDetalladas()
    {
        Navigation.NavigateTo("/reportes/ventas-detalladas");
    }

    private void IrAReporteVentasArticulo()
    {
        Navigation.NavigateTo("/reportes/ventas-articulo");
    }

    private void IrAReporteRanking()
    {
        Navigation.NavigateTo("/reportes/ranking-vendedoras");
    }

    private void IrAReporteRankingDiario()
    {
        Navigation.NavigateTo("/reportes/ranking-diario-vendedores");
    }

    private void IrAReporteTOPten()
    {
        Navigation.NavigateTo("/reportes/top10-articulos");
    }

    private void IrAReporteTotalTiendas()
    {
        Navigation.NavigateTo("/reportes/total-tiendas");
    }

    private void IrAReporteUtilidadTiendas()
    {
        Navigation.NavigateTo("/reportes/utilidad-tiendas");
    }

    private void IrAReportePagosTarjetaOnline()
    {
        Navigation.NavigateTo("/reportes/pagos-tarjeta-online");
    }

    private void IrALibroVentasContable()
    {
        Navigation.NavigateTo("/reportes/libro-ventas-contable");
    }

    private void IrAReporteTOPtenMenosVendidos()
    {
        Navigation.NavigateTo("/reportes/top10-articulos-menos-vendidos");
    }
}
